h1{
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;     
}

.bingo-card{
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    /* max-width: 200px; */
}

.bingo-cell{
    background: #f8f9fa;
    border: 2px solid #ddd;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: x-small;
    cursor: pointer;
    border-radius: 10px;
}

.marked{
    background-color: #3560be !important;
    color: white !important;
}